{{ 'section-deal-of-the-day.css' | asset_url | stylesheet_tag }}
<script src="{{ 'timer.js' | asset_url }}" defer="defer"></script>

<div class="deal-of-the-day" style="background-color: {{ section.settings.background-color }};">
  <div class="page-width">
    <div class="section-header">
      <div class="sub-header font-jost text-bold text-l">
        <span>{{ section.settings.sub_title }}</span>
        {% render '_icon-line' %}
      </div>
      <h2 class="header-{{ section.settings.title_position }} font-jost text-bolder heading-l">
        {{ section.settings.title }}
      </h2>
    </div>
    <div class="section-content section-content-{{ section.settings.collection-position }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'collection' %}
            <div class="collection-deal" style="background-color: {{ block.settings.background-color }};">
              <div class="collection-image">
                {% if block.settings.image == blank %}
                  <div class="collection-image">
                    {{ 'image' | placeholder_svg_tag }}
                  </div>
                {% else %}
                  <img
                    srcset="
                      {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                    "
                    src="{{ block.settings.image | image_url: width: 533 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                    alt="{{ block.settings.image.alt | escape }}"
                    class="motion-reduce"
                    width="{{  block.settings.image.width }}"
                    height="{{  block.settings.image.height }}"
                  >
                {% endif %}
              </div>
              <div class="collection-content">
                <a
                  href="{{ block.settings.collection.url }}"
                  class="collection-deal__title font-jost text-bolder heading-l"
                >
                  {{- block.settings.title -}}
                </a>
                <div class="collection-deal__discription font-jost text-bold text-l">
                  {{ block.settings.subtitle }}
                </div>
              </div>
              <div class="collection-timer font-jost text-bolder heading-l">
                <div class="collection-time">
                  <span class="day">{{ block.settings.day }}</span>
                  <span class="span font-jost text-bold text-l">Days</span>
                </div>
                :
                <div class="collection-time">
                  <span class="hours">{{ block.settings.hours }}</span>
                  <span class="span font-jost text-bold text-l">Hours</span>
                </div>
                :
                <div class="collection-time">
                  <span class="mins">{{ block.settings.mins }}</span>
                  <span class="span font-jost text-bold text-l">Mins</span>
                </div>
                :
                <div class="collection-time">
                  <span class="secs">{{ block.settings.secs }}</span>
                  <span class="span font-jost text-bold text-l">Secs</span>
                </div>
              </div>
            </div>
          {% when 'product' %}
            <div class="product-deal">
              {% for product in block.settings.product_list %}
                <div class="products">
                  {% render 'card-product',
                    card_product: product,
                    section_id: section.id,
                    quick_add: section.settings.quick_add,
                    card_layout: section.settings.card_layout,
                    card_color: product.metafields.custom.card_color
                  %}
                </div>
              {% endfor %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.deal-of-the-day.name",
  "settings": [
    {
      "type": "color",
      "id": "background-color",
      "label": "t:sections.deal-of-the-day.settings.background_color.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_background_color",
      "label": "t:sections.featured-collection.settings.enable_image_background_color.label"
    },
    {
      "type": "header",
      "content": "Content layout features"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.deal-of-the-day.settings.title.label"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "t:sections.deal-of-the-day.settings.sub_title.label"
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "t:sections.deal-of-the-day.settings.title_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.deal-of-the-day.settings.title_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.deal-of-the-day.settings.title_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.deal-of-the-day.settings.title_position.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "select",
      "id": "card_layout",
      "default": "layout-1",
      "label": "t:sections.all.card_layout.label",
      "options": [
        {
          "value": "layout-1",
          "label": "t:sections.all.card_layout.options__1.label"
        },
        {
          "value": "layout-2",
          "label": "t:sections.all.card_layout.options__2.label"
        },
        {
          "value": "layout-3",
          "label": "t:sections.all.card_layout.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection-position",
      "label": "t:sections.deal-of-the-day.settings.collection_position.label",
      "options": [
        {
          "value": "row",
          "label": "t:sections.deal-of-the-day.settings.collection_position.option_1.label"
        },
        {
          "value": "row-reverse",
          "label": "t:sections.deal-of-the-day.settings.collection_position.option_2.label"
        }
      ],
      "default": "row"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.deal-of-the-day.blocks.collection_deal.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.image.label"
        },
        {
          "type": "color",
          "id": "background-color",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.color.label"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.collection.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.title.label"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.sub_title.label"
        },
        {
          "type": "number",
          "id": "day",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.day.label",
          "default": 0
        },
        {
          "type": "number",
          "id": "hours",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.hours.label",
          "default": 0
        },
        {
          "type": "number",
          "id": "mins",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.minutes.label",
          "default": 0
        },
        {
          "type": "number",
          "id": "secs",
          "label": "t:sections.deal-of-the-day.blocks.collection_deal.settings.seconds.label",
          "default": 0
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.deal-of-the-day.blocks.product_deal.name",
      "settings": [
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:sections.deal-of-the-day.blocks.product_deal.settings.product_list.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.deal-of-the-day.presets.name",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
