{{ 'section-image-video-grid.css' | asset_url | stylesheet_tag }}

<section class="image-video-grid" id="image-video-grid" style="background-color: {{ section.settings.bg_color }};">
  <div class="page-width image-video-grid__wrapper">
    <div class="image-video-grid__content-wrapper">
      <div class="image-video-grid__title_wrapper">
        <div class="image-video-grid__title font-jost text-bold text-l">{{ section.settings.title }}</div>
        <span class="image-video-grid__icon-line">
          {%- if section.settings.title != blank %}{% render 'icon_line' %}{% endif -%}
        </span>
      </div>
      <div class="image-video-grid__heading font-jost text-bolder heading-l">
        {{ section.settings.heading }}
      </div>
      <div class="image-video-grid__description font-jost text-semibold text-l">
        {{ section.settings.description }}
      </div>
    </div>
    <div
      class="videos-grid"
      style="grid-template-columns: repeat({% if section.blocks.size > 3 %} 3 {% else %} {{ section.blocks.size }} {% endif %}, 1fr);"
    >
      {% for block in section.blocks %}
      {% if block.settings.choose_media == "video" %}
        <div class="videos-card">
          <div class="video-overlay"></div>
          <span  class="image-play-button" onclick="videoToggle('{{ block.settings.videos.id }}')">{% render 'icon-play_button' %}</span>
          {{
            block.settings.videos
            | video_tag:
              autoplay: true,
              loop: 'loop',
              muted: true,
              alt: 'video',
              playsinline: true,
              image_size: '1600x',
              class: 'videos',
              id: block.settings.videos.id
          }}
        </div>
        {% else %}
        <div class="image-card">
        {{
          block.settings.images 
          | image_url: width: 100, height: 100
          | image_tag:
            alt: 'image',
            class: 'images',
            id: block.settings.images.id
        }}
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <div class="video-fullscreen" id="video-fullscreen">
  <div class="video-contener">
  <video id="fullscreen-video" controls controlsList="nodownload"></video>
  <span class="fullscreen-close" onclick="closeFullscreen()"> {{- 'icon-close.svg' | inline_asset_content -}}</span>
  </div>
  </div>
</section>

<script src="{{ 'image-video-grid.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.image-video-grid.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.image-video-grid.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.image-video-grid.settings.sub_heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.image-video-grid.settings.description.label"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.image-video-grid.settings.background_color.label"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.image-video-grid.blocks.name",
      "type": "t:sections.image-video-grid.blocks.type",
      "settings": [
        {
          "type": "video",
          "id": "videos",
          "label": "t:sections.image-video-grid.blocks.settings.video.label"
        },
        {
          "type": "image_picker",
          "id": "images",
          "label": "t:sections.image-video-grid.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "choose_media",
          "label": "Choose Media",
          "options": [
            {
              "value": "video",
              "label": "video"
            },
            {
              "value": "image",
              "label": "image"
            }
          ],
          "default": "video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-video-grid.presets.name"
    }
  ]
}
{% endschema %}
